html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.25;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header nav a {
  margin-left: 50px;
  font-size: 16px;
  color: black;
}
header nav a:hover {
  text-decoration: underline #2e0014;
}
.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1dabf;
  border-radius: 10px;
}
@media (max-width:500px) {
  .navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1dabf;
    border-radius: 10px;
  }
}
body {
  background: #cd5c5c;
}
.container {
  width: 880px;
  margin: 0 auto;
}
@media (max-width:500px) {
  .container {
    width: 90%;
  }
}
.header-img {
  width: 100%;
  position: relative;
  text-align: center;
  font-family: 'Crimson Text', serif;
  color: #2e0014;
}
.header-img .mainimage {
  border-radius: 50px;
  border: double 6px #2e0014;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
@media (max-width:500px) {
  .header-img {
    width: 100%;
    position: relative;
    text-align: center;
    font-family: 'Crimson Text', serif;
    color: #2e0014;
  }
  .header-img .mainimage {
    border-radius: 30px;
    border: double 6px #2e0014;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.secret {
  position: absolute;
  bottom: 0;
  right: 8%;
  transform: translate(-50%, -50%);
  font-size: 62.5%;
  font-size: 3.6rem;
}
@media (max-width:500px) {
  .secret {
    font-size: 2rem;
    right: 10px;
    bottom: 20px;
  }
}
h2 {
  font-size: 62.5%;
  font-size: 2.5rem;
  font-family: 'Crimson Text', serif;
  color: #2e0014;
}
.welcome {
  padding: 20px;
  align-items: center;
  text-align: center;
  background: #f1dabf;
  border-radius: 10px;
  height: 300px;
}
.welcome .welcomep {
  font-size: 62.5%;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 30px;
}
@media (max-width:500px) {
  .welcome {
    width: 90%;
    height: 450px;
  }
}
.reviews {
  padding: 20px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  background: #f1dabf;
  border-radius: 10px;
}
.reviews .reviewp {
  font-size: 62.5%;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}
@media (max-width:500px) {
  .reviews {
    width: 90%;
    height: 400px;
  }
}
p {
  margin-top: 20px;
  font-style: italic;
}
button {
  background: #558b6e;
  color: #f1dabf;
  vertical-align: top;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid #2e0014;
  border-radius: 10px;
  cursor: pointer;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
button:hover {
  background: white;
  color: #558b6e;
}
@keyframes bounce {
  from {
    margin-top: 10px;
  }
  to {
    margin-top: -2px;
  }
}
footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}
@media (max-width:500px) {
  footer {
    width: 90%;
  }
}
body {
  background: #cd5c5c;
}
.container {
  width: 880px;
  margin: 0 auto;
}
@media (max-width:500px) {
  .container {
    width: 90%;
  }
}
.about {
  position: absolute;
  bottom: 8%;
  right: 1%;
  transform: translate(-50%, -50%);
  font-size: 62.5%;
  font-size: 3.6rem;
}
@media (max-width:500px) {
  .about {
    font-size: 2rem;
    top: 81%;
    display: flex;
    justify-content: flex-end;
    margin-left: 203px;
  }
}
h2 {
  font-size: 62.5%;
  font-size: 2.5rem;
  font-family: 'Crimson Text', serif;
  color: #2e0014;
}
.meet {
  padding: 20px;
  align-items: center;
  text-align: center;
  background: #f1dabf;
  border-radius: 10px;
  height: 250px;
}
.meet .meetp {
  font-size: 62.5%;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 30px;
}
@media (max-width:500px) {
  .meet {
    width: 90%;
    height: 350px;
  }
}
span {
  color: #558b6e;
  font-weight: bolder;
}
.people {
  font-size: 14px;
  margin-top: 25px;
  border-radius: 10px;
  background: #f1dabf;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}
.people .person {
  width: 20%;
  border-radius: 50px;
  padding: 35px;
}
@media (max-width:500px) {
  .people {
    width: 83%;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
  }
}
h3 {
  font-size: 62.5%;
  font-size: 1rem;
  color: #2e0014;
  font-family: 'Crimson Text', serif;
  font-style: italic;
  text-align: center;
  padding-top: 40px;
}
h4 {
  font-size: 62.5%;
  font-size: 1rem;
  text-decoration: underline;
}
.contact {
  font-size: 62.5%;
  font-size: 0.8rem;
  color: #2e0014;
  background: #f1dabf;
  margin-top: 20px;
  border-radius: 10px;
  width: 20%;
  margin-left: 340px;
  text-align: center;
  padding: 10px;
}
@media (max-width:500px) {
  .contact {
    width: 40%;
    margin-left: 120px;
  }
}
