body {
	background: #cd5c5c;
}

h1 {
	font-size: 25px;
}
.container {
	width: 880px;
	margin: 0 auto;
}

.header-img {
	width: 100%;
	position: relative;
	text-align: center;
	font-family: 'Crimson Text', serif;
	color: #2e0014;
}
.mainimage {
	border-radius: 50px;
	border: double 6px #2e0014;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

h1 {
	position: absolute;
	bottom: 0;
	left: 33%;
	transform: translate(-50%, -50%);
	font-size: 62.5%;
	font-size: 3.6rem;
}

h2 {
	font-size: 62.5%;
	font-size: 2.5rem;
	font-family: 'Crimson Text', serif;
	color: #2e0014;
}
.welcomep {
	font-size: 62.5%;
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 30px;
}
.welcome {
	padding: 20px;
	align-items: center;
	text-align: center;
	background: #f1dabf;
	border-radius: 10px;
	height: 300px;
}
.reviews {
	padding: 20px;
	margin-top: 20px;
	align-items: center;
	text-align: center;
	background: #f1dabf;
	border-radius: 10px;
}
.reviewp {
	font-size: 62.5%;
	font-size: 1.0rem;
	font-family: 'Raleway', sans-serif;
}
p {
	margin-top: 20px;
	font-style: italic;
}
button {
	background: #558b6e;
	color: #f1dabf;
	vertical-align: top;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid #2e0014;
	border-radius: 10px;
	cursor: pointer;
}
button:hover {
	background: white;
	color: #558b6e;
}
button {
	animation: bounce 1s infinite alternate;
	-webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
	from {
		margin-top: 10px;
	}
	to {
		margin-top: -2px;
	}
}
